.adopt-a-codex-badge-background {background: url('adopt-a-codex-badge.png') no-repeat top;
	height: 281px;
	width: 240px;
}
.adopt-a-codex-badge-background h2 {font-size: 18px; color:#FFFFFF !important;
	text-decoration: none;
	text-align: center;
	padding: 24px 0 0 0;
	
}